:root{
    --cell-size: 40px;
}
#gsBackground{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 150%; /* Double the width to cover the entire container during animation */
    height: 100%;
    background: url("./assets/menu/pot.jpg");
    animation: slideBackground 100s linear infinite; /* Adjust timing as needed */
    z-index: -3;
    background-size: contain;
    background-repeat: repeat;  
}
#gameScreen{
    position: relative;
    overflow: hidden; 
    display: none;
    grid-auto-flow: column;
    grid-template-columns: 1fr, auto;
    grid-template-rows: 2fr 9fr;
    grid-template-areas: 
            "top top"
            "left right";

    width: 100vw;
    height: 100vh;
}
@keyframes slideBackground {
    0% {
      transform: translateX(0%); /* Start from the left edge */
    }
    50% {
      transform: translateX(-25%); /* Pause midway, move to the right edge */
    }
}

#gsTop{
    grid-area: top;
    grid-column: span 2;
    display: grid;
    border-bottom: 4px solid black;
    justify-content: center;
    align-content: center;
}
#topGrid{
    display: grid;
    grid-template-columns: repeat(20, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    border: 2px solid black

}
#gsLeft{
    grid-area: left;
}
#gsRight{
    grid-area: right;
    border-left: 3px solid black;
    background-color: rgba(0,0,0,0.2);
}
#opponentImage{
    z-index: -1;
}
#gsLeft, #gsRight{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
}
#leftTop, #rightTop{
    display: flex;
}
#leftGrid, #rightGrid{
    display: grid;
    grid-template-columns: repeat(10, var(--cell-size));
    grid-template-rows: repeat(10, var(--cell-size));
    border: 2px solid black
}
#playerImage, #opponentImage{
    width: 200px;
    height: 210px;
}
.gridCell{
    background-color: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
    z-index: 0;
}

#topBoardContainer, #leftBoardContainer{
    position: relative;
}

.topShips{
    position: absolute;
    z-index: -1;
    pointer-events: auto;
}
#top-carrier{
    top: 1px;
    left: calc(14*var(--cell-size));
    height: calc(2*var(--cell-size));
    width: calc((5*var(--cell-size)));
}
#top-battleship {
    top: 1px;
    left: calc(6 * var(--cell-size) + 1px);
    height: calc(2*var(--cell-size));
    width: calc((4*var(--cell-size)));
}
#top-cruiser{
    top:  calc(2 * var(--cell-size) + 1px);
    left: calc(10 * var(--cell-size) + 1px);
    height: calc(1*var(--cell-size));
    width: calc((3*var(--cell-size)));
}
#top-submarine {
    top: 1px;
    left: calc(1* var(--cell-size) + 1px);
    height: calc(var(--cell-size));
    width: calc((3*var(--cell-size)));
}
#top-destroyer{
    top: calc(2* var(--cell-size) + 1px);
    left: calc(1* var(--cell-size) + 1px);
    height: calc(var(--cell-size));
    width: calc((2*var(--cell-size)));
}

@media screen and (max-width: 1500px) {
    :root{
        --cell-size: 25px
    }
    #playerImage, #opponentImage{
        width: 130px;
        height: 135px;
    }
}