:root{
    --cell-size: 40px;
}
#gameScreen{
    display: none;
    grid-auto-flow: column;
    grid-template-columns: 1fr, auto;
    grid-template-rows: 2fr 9fr;
    grid-template-areas: 
            "top top"
            "left right";

    width: 100vw;
    height: 100vh;
    background: url("./assets/menu/pos3.jpg");
    background-size: contain;
    background-repeat: repeat;    
}
#gsTop{
    grid-area: top;
    grid-column: span 2;
    display: grid;
    border-bottom: 4px solid black;
    justify-content: center;
    align-content: center;
}
#topGrid{
    display: grid;
    grid-template-columns: repeat(20, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    border: 2px solid black

}
#gsLeft{
    grid-area: left;
}
#gridRight{
    grid-area: right;
}
#gsLeft, #gsRight{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* justify-content: center; */
    align-items: center;
}
#leftTop, #rightTop{
    display: flex;
    /* flex: 1; */
}
#leftGrid, #rightGrid{
    display: grid;
    grid-template-columns: repeat(10, var(--cell-size));
    grid-template-rows: repeat(10, var(--cell-size));
    border: 2px solid black
}
#playerImage, #opponentImage{
    width: 200px;
    height: 210px;
}
.gridCell{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
}

@media screen and (max-width: 1280px) {
    :root{
        --cell-size: 30px
    }
    #leftGrid, #rightGrid{
        display: grid;
        grid-template-columns: repeat(10, var(--cell-size));
        grid-template-rows: repeat(10,  var(--cell-size));
        border: 2px solid black
    }
}
.placed{
    width: var(--cell-size);
    height: var(--cell-size); 
}